*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(
        150deg,
        #91a5ff,
        #c08af7
    );
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
#heading{
  background-color: rgba(0, 0, 0,.3); 
  color:rgb(255, 255, 255);
  font-family: cursive;
  font-size:50px;
  border-radius:10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:10px;
    padding:15px;
}
.card{
  width:280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap:10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius:10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow:0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease; 
}
.card:hover {
  transform: translateY(-6px);
  box-shadow:0 15px 40px rgba(0, 0, 0, 0.5);
}

.card img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding:2px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.card .name{
  margin: 10px 0 6px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #262323;
  text-align: center;
  transition: color 0.3s ease;
}
.card:hover .name {
  color: #000000;
  font-size: 1.5rem;
}

.card a{
  display: inline-block;
  margin-top: 8px;
  padding: 5px 8px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color:  #4c6dff;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.card a:hover {
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow:0 8px 20px rgba(5, 7, 9, 0.3);
}
#btn{
  padding: 5px 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: rgb(60, 60, 60);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
#btn:hover{
  transform:scale(3px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow:0 10px 25px rgba(0, 0, 0, 0.2);
  border-color:#262323;
}
#search{
  width: 320px;
  padding: 5px 18px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  color:rgb(50, 50, 50);
  font-size: 1.5rem;
  font-weight:bold;
  outline: none;
  transition: all 0.3s ease;
}
#search:focus {
  border-color:#000000;
  box-shadow:
    0 0 0 4px rgba(96, 165, 250, 0.15),
    0 8px 20px rgba(0, 0, 0, 0.15);
}
#search::placeholder {
  color: rgba(51, 45, 45, 0.6);
}
#btn-search{
  margin-top:2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
}
